<!-- start banner Area -->
<section class="banner-area relative" id="home">
	<div class="overlay overlay-bg"></div>	
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-between">
			<div class="banner-content col-lg-9 col-md-12">
				<h1 class="text-uppercase">
					mendukung dan menjaga stabilitas sektor dan institusi keuangan			
				</h1>
				<p class="pt-10 pb-10">
					Sekretariat KSSK memiliki fungsi dukungan dan fasilitasi Komite Stabilitas Sistem Keuangan dalam bentuk kajian dan assesment; koordinasi penyusunan kebijakan dan regulatory setting serta kajian manajemen risiko dan hukum..
				</p>
				<a href="#" class="primary-btn text-uppercase">Lebih lanjut</a>
			</div>										
		</div>
	</div>					
</section>
<!-- End banner Area -->

<!-- Start feature Area -->
<section class="feature-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Evaluasi</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Mengevaluasi skala dan dimensi permasalahan likuiditas dan/atau solvabilitas bank/lembaga keuangan bukan bank (LKBB) yang ditengarai Berdampak Sistemik
						</p>
						<a href="#">Selanjutnya</a>									
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Penetapan</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Menetapkan permasalahan likuiditas dan/atau masalah solvabilitas bank/lembaga keuangan bukan bank (LKBB) Berdampak Sistemik atau tidak Berdampak Sistemik
						</p>
						<a href="#">Selanjutnya</a>									
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Penanganan</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Menetapkan langkah-langkah penanganan masalah bank/lembaga keuangan bukan bank (LKBB) yang dipandang perlu dalam rangkapencegahan dan penanganan Krisis
						</p>
						<a href="#">Selanjutnya</a>									
					</div>
				</div>
			</div>											
		</div>
	</div>	
</section>
<!-- End feature Area -->	
