<header id="header" id="header">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
					<ul>
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
					</ul>			
				</div> 
				<div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
					<a href="tel:+62 21 350 3504"><span class="lnr lnr-phone-handset"></span> <span class="text"> (021) 350 3504</span></a>
					<a href="mailto:sekretariat@kssk.go.id"><span class="lnr lnr-envelope"></span> <span class="text">sekretariatkssk@kssk.go.id</span></a>			
				</div>
			</div>			  					
		</div>
	</div>
	<div class="container main-menu">
		<div class="row align-items-center justify-content-between d-flex">
			<div id="logo">
				<a href="index.html"><img src="assets/img/logo.png" alt="" title="" /></a>
			</div>
			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<ng-container *ngFor="let itemRoot of menu">
					<li *ngIf="!hasChildren(menu,itemRoot.id)" id="bs-check-menu">
						<a *ngIf="itemRoot.parentId===null" href="#" (click)="open(itemRoot)">{{itemRoot.title}}</a>
					</li>
					<li *ngIf="hasChildren(menu,itemRoot.id)" class="menu-has-children" id="bs-check-menu">
						<a *ngIf="itemRoot.parentId===null" href="#" (click)="open(itemRoot)">{{itemRoot.title}}</a>
						<ul *ngIf="hasChildren(menu,itemRoot.id)">
							<li *ngFor="let itemChild of menu">
							<a *ngIf="itemChild.parentId===itemRoot.id" href="#" (click)="open(itemChild)">{{itemChild.title}}</a>
							</li>
						</ul>
					</li>
					</ng-container>
					<li *ngIf="isAuthenticated" class="menu-has-children" >
						<a href="#" class="sf-with-ul">Menu User</a>
						<ul>
							<li>
								<a href="#" (click)="openAdmin()">Profil</a>
							</li>
							<li>
								<a href="#" (click)="openDownload()">Download</a>
							</li>
							<li>
								<a href="#" (click)="logout()">Logout</a>
							</li>
						</ul>
					</li>
					<li *ngIf="!isAuthenticated">
						<a href="#" (click)="openLogin()">Login</a>
					</li>
				</ul>
			</nav><!-- #nav-menu-container -->			    		
		</div>
	</div>
</header><!-- #header -->
<div *ngIf="contentPage=='portal' && selectedMenu.mode!='full'">
	<section class="banner-area relative about-banner" id="home">	
		<div class="overlay overlay-bg"></div>
		<div class="container">				
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						{{selectedMenu.title}}		
					</h1>
				</div>	
			</div>
		</div>
	</section>
	<div *ngIf="selectedMenu.mode=='single'" [innerHTML]="contentText | safeHtml"></div>		
	<div *ngIf="selectedMenu.mode=='multiplefoto' || selectedMenu.mode=='multiplefile'">				
		<!-- Start event-details Area -->
		<section class="event-details-area section-gap">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 event-details-left">
					
						<div class="menu-content pb-70 col-lg-12">
							<div class="title text-center">
								<h1>{{currentContent?.content}}</h1>
							</div>
						</div>
						<div *ngIf="selectedMenu.mode=='multiplefoto'" class="active-upcoming-event-carusel">
							<div class="single-carusel row align-items-center" *ngFor="let file of listFile">
								<div class="col-12 col-md-12 thumb">
									<img class="img-fluid" src="assets/foto/{{file.filename}}" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<div [innerHTML]="file.description | safeHtml"></div>
								</div>
							</div>																				
						</div>
						<div *ngIf="selectedMenu.mode=='multiplefile'" class="menu-content pb-70 col-lg-12">
							<div class="pb-30" *ngFor="let file of listFile">
								<div class="single-carusel row align-items-center">
									<div class="col-12 col-md-6 thumb">
										<img class="img-fluid" src="assets/img/pdf-logo.png" alt="">
									</div>
									<div class="detials col-12 col-md-6">
										<div [innerHTML]="file.description | safeHtml"></div>
										<span class="lnr lnr-download">
											<a href="assets/file/{{file.filename}}"> Download</a>
										</span>
									</div>
								</div>
							</div>
						</div>
						
						<div *ngIf="listContent.length>0" class="social-nav row no-gutters">
							<div class="col-lg-12 col-md-12 navs">
								<a href="#" *ngIf="hasPrevContent()"  (click)="prevContent()" class="nav-prev"><span class="lnr lnr-arrow-left"></span>Sebelumnya</a>
								<a href="#" *ngIf="hasNextContent()"  (click)="nextContent()" class="nav-next">Selanjutnya<span class="lnr lnr-arrow-right"></span></a>									
							</div>
						</div>
					</div>
					<div class="col-lg-4 event-details-right">
						<div class="single-event-details">
							<h4>Daftar {{selectedMenu.title}}</h4>
							<ul class="mt-10" *ngFor="let content of listContent;let i = index">
								<li class="justify-content-between d-flex">
									<a href="#" (click)="openContent(i)"><span>{{content.content}}</span></a>
								</li>														
							</ul>
						</div>													
					</div>
				</div>
			</div>	
		</section>
		<!-- End event-details Area -->	
	</div>
</div>
<div *ngIf="contentPage=='portal' && selectedMenu.mode=='full'" [innerHTML]="contentText | safeHtml"></div>
<div *ngIf="contentPage=='login'">
	<section class="banner-area relative about-banner" id="home">	
		<div class="overlay overlay-bg"></div>
		<div class="container">				
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Login Aplikasi		
					</h1>
				</div>	
			</div>
		</div>
	</section>
	<!-- Start post-content Area -->
	<section class="post-content-area single-post-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 posts-list">
					<div class="comment-form">
						<h4>Masuk ke dalam sistem kami</h4>
						<form [formGroup]="loginForm" (ngSubmit)="login()">
							<div class="form-group">
								<input type="text" class="form-control" formControlName="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
							</div>
							<div class="form-group">
								<input type="password" class="form-control" formControlName="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							<a href="#" (click)="login()" class="primary-btn text-uppercase">Masuk</a>	
						</form>
					</div>
				</div>
				<div class="col-lg-4 sidebar-widgets">
					<div class="widget-wrap">
						<div class="single-sidebar-widget newsletter-widget">
							<h4 class="newsletter-title">Informasi</h4>
							<p>
								Akses data menggunakan username dan password yang telah terdaftar sebelumnya.
							</p>								
						</div>
					</div>
				</div>
			</div>
		</div>	
	</section>
	<!-- End post-content Area -->	
</div>	
<div *ngIf="contentPage=='admin' || contentPage=='download' || contentPage=='crud' || contentPage=='form'">
	<section class="banner-area relative about-banner" id="home">	
		<div class="overlay overlay-bg"></div>
		<div class="container">				
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 *ngIf="contentPage=='download'" class="text-white">
						Secure Download Dokumen	
					</h1>
					<h1 *ngIf="contentPage=='admin'" class="text-white">
						Profil
					</h1>
					<h1 *ngIf="contentPage=='crud'" class="text-white">
						Administrasi {{crud.title}}
					</h1>
				</div>	
			</div>
		</div>
	</section>
	<!-- Start event-details Area -->
	<section class="event-details-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 event-details-left">				
					<div class="menu-content col-lg-12">
						<div *ngIf="contentPage=='download'" class="title text-center">
							<h1>Daftar dokumen</h1>
						</div>
						<div *ngIf="contentPage=='admin'" class="title text-center">
							<h1>Selamat Datang, {{userLogin.username}}</h1>
						</div>
						<div *ngIf="contentPage=='crud'" class="title text-center">
							<h1>Daftar {{crud.title}}</h1>
						</div>
					</div>
					<div class="menu-content pt-20 col-lg-12">
						<ng-container *ngIf="contentPage=='download'">
						<div class="pb-30" *ngFor="let file of listSecureFile">
							<div class="single-carusel row align-items-center">
								<div class="col-12 col-md-6 thumb">
									<img class="img-fluid" src="assets/img/secure-logo.png" alt="">
								</div>
								<div class="detials col-12 col-md-6">
									<div [innerHTML]="file.description | safeHtml"></div>
									<form [formGroup]="secureDownloadForm" (ngSubmit)="secureDownload(file.Filename)">
										<div class="form-group">
											<input type="text" class="form-control" formControlName="secretKey" placeholder="Secret Key" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Secret Key'">
										</div>
										<a href="#" (click)="secureDownload(file.filename)" class="primary-btn">Download</a>	
										<div *ngIf="errors">{{errors}}</div>
									</form>
								</div>
							</div>
						</div>
						</ng-container>
						<div class="pt-20" *ngIf="contentPage=='admin'">
							Berikut ini adalah QR spesifik untuk Anda. Silakan gunakan Authenticator untuk generate kode digital Anda.<br />
							<a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1" style="display:inline-block;overflow:hidden;background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Get_it_on_Google_play.svg/136px-Get_it_on_Google_play.svg.png) no-repeat;width:135px;height:40px;"></a> atau 
							<a href="https://itunes.apple.com/us/app/google-authenticator/id388497605?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;"></a><br />
							<img [src]="qrCode" height="200">
						</div>	
						<ng-container *ngIf="contentPage=='crud'">
						<div class="pt-20 table-responseve" >
							<a href="#" (click)="openForm()">Tambah {{crud.title}}</a>
							<ng-container *ngIf="crud.title=='menu'">
							<table class="table table-hover table-sm" [mfData]="crud.data" #mf="mfDataTable" [mfRowsOnPage]="30">
								<thead class="thead-light">
								<tr>
									<th><mfDefaultSorter by="title">Title</mfDefaultSorter></th>
									<th><mfDefaultSorter by="parentId">Parent</mfDefaultSorter></th>
									<th><mfDefaultSorter by="isActive">Is Active</mfDefaultSorter></th>
									<th><mfDefaultSorter by="order">Order</mfDefaultSorter></th>
									<th><mfDefaultSorter by="url">Url</mfDefaultSorter></th>
									<th><mfDefaultSorter by="mode">Mode</mfDefaultSorter></th>
									<th colspan="2">Action</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let item of mf.data">
									<td>{{item.title}}</td>
									<td>{{getTitle(crud.data,item.parentId)}}</td>
									<td>{{item.isActive}}</td>
									<td>{{item.order}}</td>
									<td>{{item.url}}</td>
									<td>{{item.mode}}</td>
									<td><a href="#" (click)="edit(item.id)">Ubah</a></td>
									<td><a href="#" (click)="delete(item.id)">Hapus</a></td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<td colspan="6">
										<br />
										<mfBootstrapPaginator></mfBootstrapPaginator>
									</td>
								</tr>
								</tfoot>
							</table>
							</ng-container>
							<ng-container *ngIf="crud.title=='content'">
							<table class="table table-hover table-sm" [mfData]="crud.data" #mf="mfDataTable" [mfRowsOnPage]="30">
								<thead class="thead-light">
								<tr>
									<th><mfDefaultSorter by="menuId">Menu</mfDefaultSorter></th>
									<th><mfDefaultSorter by="content">Content</mfDefaultSorter></th>
									<th><mfDefaultSorter by="isActive">Is Active</mfDefaultSorter></th>
									<th colspan="2">Action</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let item of mf.data">
									<td>{{getTitle(tempData,item.menuId)}}</td>
									<td>{{item.content}}</td>
									<td>{{item.isActive}}</td>
									<td><a href="#" (click)="edit(item.id)">Ubah</a></td>
									<td><a href="#" (click)="delete(item.id)">Hapus</a></td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<td colspan="6">
										<br />
										<mfBootstrapPaginator></mfBootstrapPaginator>
									</td>
								</tr>
								</tfoot>
							</table>
							</ng-container>
							<ng-container *ngIf="crud.title=='file'">
							<table class="table table-hover table-sm" [mfData]="crud.data" #mf="mfDataTable" [mfRowsOnPage]="30">
								<thead class="thead-light">
								<tr>
									<th><mfDefaultSorter by="contentId">Content</mfDefaultSorter></th>
									<th><mfDefaultSorter by="filename">Filename</mfDefaultSorter></th>
									<th><mfDefaultSorter by="description">Description</mfDefaultSorter></th>
									<th colspan="2">Action</th>
								</tr>
								</thead>
								<tbody>
								<tr *ngFor="let item of mf.data">
									<td>{{getContent(tempData,item.contentId)}}</td>
									<td>{{item.filename}}</td>
									<td>{{item.description}}</td>
									<td><a href="#" (click)="edit(item.id)">Ubah</a></td>
									<td><a href="#" (click)="delete(item.id)">Hapus</a></td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<td colspan="6">
										<br />
										<mfBootstrapPaginator></mfBootstrapPaginator>
									</td>
								</tr>
								</tfoot>
							</table>
							</ng-container>
						</div>
						</ng-container>					
						<div *ngIf="contentPage=='form'" class="pt-20">
							<h4>Form {{crud.title}}</h4>
							<ng-container *ngIf="crud.title=='menu'">
							<form [formGroup]="crudForm" (ngSubmit)="addUpdate()">
								<input type="hidden" formControlName="id">
								<div class="mt-10">
									<div>Title</div>
									<input type="text" class="form-control" formControlName="title" placeholder="Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Title'">
								</div>
								<div class="mt-10">
									<div>Parent</div>
									<select formControlName="parentId">
										<option [value]="null"></option>
										<option [value]="menu.id" *ngFor="let menu of tempData">{{menu.title}}</option>
									</select>
								</div>
								<div class="mt-10">
									<div>Order</div>
									<input type="text" class="form-control" formControlName="order" placeholder="Order" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Order'">
								</div>
								<div class="mt-10">
									<div>Url</div>
									<input type="text" class="form-control" formControlName="url" placeholder="Url" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Url'">
								</div>
								<div class="mt-10">
									<div>Mode</div>
									<select formControlName="mode">
										<option [value]="'single'">Single</option>
										<option [value]="'full'">Full</option>
										<option [value]="'multiplefoto'">Multiple Foto</option>
										<option [value]="'multiplefile'">Multiple File</option>
										<option [value]="'multipletext'">Multiple Text</option>
									</select>
								</div>
								<div class="mt-10">
									<div>Is Active?</div>
									<select formControlName="isActive">
										<option [value]="true">True</option>
										<option [value]="false">False</option>
									</select>
								</div>
								<div class="mt-10">
									<div>
										<a href="#" (click)="addUpdate()" class="primary-btn text-uppercase">Simpan</a>	atau 
										<a href="#" (click)="backToCrud()" class="primary-btn text-uppercase">Batal</a>	
									</div>
								</div>
							</form>
							</ng-container>	
							<ng-container *ngIf="crud.title=='content'">
							<form [formGroup]="crudForm" (ngSubmit)="addUpdate()">
								<input type="hidden" formControlName="id">
								<div class="mt-10">
									<div>Menu</div>
									<select formControlName="menuId">
										<option [value]="menu.id" *ngFor="let menu of tempData">{{menu.title}}</option>
									</select>
								</div>
								<div class="mt-10">
									<div>Content</div>
									<textarea [froalaEditor]="textOptions" formControlName="content"></textarea>
								</div>
								<div class="mt-10">
									<div>Is Active?</div>
									<select formControlName="isActive">
										<option [value]="true">True</option>
										<option [value]="false">False</option>
									</select>
								</div>
								<div class="mt-10">
									<div>
										<a href="#" (click)="addUpdate()" class="primary-btn text-uppercase">Simpan</a>	atau 
										<a href="#" (click)="backToCrud()" class="primary-btn text-uppercase">Batal</a>	
									</div>
								</div>
							</form>
							</ng-container>		
							<ng-container *ngIf="crud.title=='file'">
							<form [formGroup]="crudForm" (ngSubmit)="addUpdate()">
								<input type="hidden" formControlName="id">
								<input type="hidden" formControlName="filename">
								<div class="mt-10">
									<div>Content</div>
									<select formControlName="contentId">
										<option [value]="menu.id" *ngFor="let menu of tempData">{{menu.content.substring(0,50)}}</option>
									</select>
								</div>
								<div class="mt-10">
									<div>Description</div>
									<textarea [froalaEditor]="textOptions" formControlName="description"></textarea>
								</div>
								<div class="mt-10">
									<div>File</div>
									<input type="file" formControlName="file" (change)="handleFile($event.target.files)" placeholder="Upload file">
								</div>
								<div class="mt-10">
									<div>
										<a href="#" (click)="addUpdate()" class="primary-btn text-uppercase">Simpan</a>	atau 
										<a href="#" (click)="backToCrud()" class="primary-btn text-uppercase">Batal</a>	
									</div>
								</div>
							</form>
							</ng-container>							
						</div>
					</div>
				</div>
				<div class="col-lg-3 event-details-right">
					<div class="widget-wrap">
						<div class="single-sidebar-widget newsletter-widget">
							<h4 class="newsletter-title">Administrasi</h4>
							<p>
								<a href="#" *ngIf="userLogin.role=='Admin'" (click)="openCrud('menu')">Menu</a>
							</p>
							<p>
								<a href="#" *ngIf="userLogin.role=='Admin'" (click)="openCrud('content')">Content</a>
							</p>
							<p>
								<a href="#" *ngIf="userLogin.role=='Admin'" (click)="openCrud('file')">Dokumen</a>
							</p>
							<p>
								<a href="#" *ngIf="userLogin.role=='Admin'" (click)="openCrud('user')">User</a>
							</p>
							<p>
								<a href="#" (click)="openAdminSecureDokumen()">Secure Dokumen</a>
							</p>								
						</div>
					</div>												
				</div>
			</div>
		</div>	
	</section>
	<!-- End event-details Area -->	
</div>				    			
<!-- start footer Area -->		
<footer class="footer-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-6 col-sm-6">
				<div class="single-footer-widget">
					<h4>Kontak Kami</h4>
					<font color="white">
					<ul>
						<li>Sekretariat: Gedung Djuanda II Lantai 18 <br />
						Jalan Dr. Wahidin Nomor 1, Jakarta 10710 <br />
						Telepon: (021) 350 3504 | Faksimili: (021) 350 3506 | Email: sekretariatkssk@kssk.go.id</li>
					</ul>	
					</font>
				</div>
			</div>
			<div class="col-lg-1 col-md-6 col-sm-6">
				<div class="single-footer-widget">								
				</div>
			</div>
			<div class="col-lg-2 col-md-6 col-sm-6">
				<div class="single-footer-widget">								
				</div>
			</div>																		
			<div class="col-lg-2  col-md-6 col-sm-6">
				<div class="single-footer-widget">
				</div>
			</div>											
		</div>
		<div class="footer-bottom row align-items-center justify-content-between">
			<p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			<font color="white">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> KOMITE STABILITAS SISTEM KEUANGAN | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></font></p>
			<div class="col-lg-4 col-sm-12 footer-social">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
			</div>
		</div>						
	</div>
</footer>	
<!-- End footer Area -->

<nav id="mobile-nav">
	<ul style="touch-action: pan-y;" >
		<ng-container *ngFor="let itemRoot of menu">
		<li *ngIf="!hasChildren(menu,itemRoot.id)" id="bs-check-menu">
			<a *ngIf="itemRoot.parentId===null" href="#" (click)="open(itemRoot)">{{itemRoot.title}}</a>
		</li>
		<li *ngIf="hasChildren(menu,itemRoot.id)" class="menu-has-children" id="bs-check-menu"> 
			<a *ngIf="itemRoot.parentId===null" href="#" (click)="open(itemRoot)">{{itemRoot.title}}</a>
			<ul *ngIf="hasChildren(menu,itemRoot.id)" style="display: none;">
				<li *ngFor="let itemChild of menu">
				<a *ngIf="itemChild.parentId===itemRoot.id" href="#" (click)="open(itemChild)">{{itemChild.title}}</a>
				</li>
			</ul>
		</li>
		</ng-container>
		<li *ngIf="isAuthenticated" class="menu-has-children" >
			<a href="#" class="sf-with-ul">Menu User</a>
			<ul>
				<li>
					<a href="#" (click)="openAdmin()">Profil</a>
				</li>
				<li>
					<a href="#" (click)="openDownload()">Download</a>
				</li>
				<li>
					<a href="#" (click)="logout()">Logout</a>
				</li>
			</ul>
		</li>
		<li *ngIf="!isAuthenticated">
			<a href="#" (click)="openLogin()">Login</a>
		</li>
	</ul>
</nav>